.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.wordList {
  font-size: 30px;
  overflow: hidden;
}
.currentChar {
  background-color: #7befb2;
  padding: 0 5px;
}
.score-out-container {
  width: 250px;
  margin: auto;
}
.score-out-container h1 {
  text-align: center;
}
.score-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 20px;
  margin: 20px auto;
  width: 250px;
}
.title {
  font-size: 40px;
  margin-bottom: 50px;
}
.title img {
  width: 30px;
}
.openKeyBoardContainer {
  text-align: center;
  margin: 10px;
}
.openKeyBoardContainer button {
  color: black;
  padding: 10px;
  text-align: center;
}
.info {
  position: absolute;
  background-color: #bfbfbf;
  border: 1px solid gray;
  padding: 15px;
  border-radius: 8px;
}
.infoImg {
  text-align: center;
}
.info img {
  width: 300px;
}
.info p, .info b, .info em {
  color: black !important;
}
.info b {
  font-size: 17px;
}
.info em:hover {
  cursor: pointer;
}
.infoBtn {
  background-color: transparent;
  border: 0;
  position: absolute;
  top: 50px;
  right: 50px;
}
.infoBtn:hover {
  cursor: pointer;
}