.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.wordList {
  font-size: 30px;
  overflow: hidden;
}
.currentChar {
  background-color: #7befb2;
  padding: 0 5px;
}
.score-out-container {
  width: 250px;
  margin: auto;
}
.score-out-container h1 {
  text-align: center;
}
.score-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 20px;
  margin: 20px auto;
  width: 250px;
}
.title {
  font-size: 40px;
  margin-bottom: 50px;
}
.title img {
  width: 30px;
}
.openKeyBoardContainer {
  text-align: center;
  margin: 10px;
}
.openKeyBoardContainer button {
  color: black;
  padding: 10px;
  text-align: center;
}